@model IEnumerable<WebApplication9.Models.Recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var item in Model)
{
<div class="card-columns">
    <div class="card">      
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class ="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
            </a>          
        </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    <div class="card">
        <a href="@Url.Action("Details", new { id = item.RecipeId})">
            <img class="card-img-top probootstrap-animate" src="@Url.Content(item.ImagePath)">
        </a>
    </div>
    </div>
}

